<div class="form__el">
    <input type="{{type}}" name="{{name}}" class="input {{class}}" value="{{value}}" placeholder="{{placeholder}}" {{required}}/>
    <label class="label" for="">{{placeholder}}</label>
    <div class="form__error">{{errortext}}</div>
</div>