<form action="" method="" class="search-form">
    <input type="{{text}}" name="{{search}}" class="{{class}}" value="{{value}}" placeholder="{{placeholder}}"/>
    <span class="icon-search"></span>
</form>