<div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__content">
        <form action="" method="">
            <h2>{{ title }}</h2>
            <div class="form__el">
                <input type="{{type}}" name="{{name}}" class="input" value="{{inputValue}}" placeholder="{{placeholder}}" {{required}}/>
                <label class="label" for="">{{placeholder}}</label>
                <div class="form__error">{{errortext}}</div>
            </div>
            <button type="submit" class="button">{{ buttonValue }}</button>
        </form>
    </div>
</div>